body {
            user-select: none; /* Disable text selection */
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            -webkit-touch-callout: none; /* Disable callout, like long press menu on iOS */
        }
        .no-screenshot {
            background-color: #000;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fff;
            font-size: 2rem;
        }
