* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 140px;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-image: linear-gradient(80deg, rgb(5, 124, 172), rgb(199, 10, 114)); /* Set a dark background color */
}

button {
    height: 150px;
    width: 150px;
    padding: 15px;
    margin: 10px;
    border-radius: 25px;
    color: black;
    font-size: 16px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background: rgb(0, 192, 226);
    color: white;
    transition: 0.5s;
}

@media (min-aspect-ratio: 16/9) {
    .banner video {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 767px) {    
    .button-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px;
   }
    button {
        margin: 2px 0;
    }
}
